# Server configuration (CHAINTRACKS_ prefix required for viper)
CHAINTRACKS_PORT=3011
CHAINTRACKS_CHAINTRACKS_P2P_NETWORK=main  # main, test, teratest
# Optional storage path for Chaintracks data (default ~/.chaintracks)
CHAINTRACKS_CHAINTRACKS_STORAGE_PATH=~/.chaintracks

# Optional bootstrap URL for Teranode
CHAINTRACKS_CHAINTRACKS_BOOTSTRAP_URL=
